/* p {
    color: red;
    width: 500px;
    border: 1px solid black;
  }
#second-parrafo {
    color: rgba(3, 59, 5, 0.952);
 }  
p:hover {
    color: rgb(18, 217, 243);
    width: 500px;
    border: 1px solid rgb(240, 221, 10);
  }
li,h1 {
    color: rgb(107, 20, 230);
  }  

.titulo {
    color: rgb(7, 118, 16);
    font-family: 'Tangerine', serif;
    font-size: 100px;
    text-shadow: 4px 4px 4px #d27e10;
    text-align: center;
}
.font-effect-neon{
    font-family: 'Tangerine', serif;
    font-size: 100px;
} */

.geeks {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  /* padding: 20px; */
  margin-bottom: 10px;
}
body {
  text-align: center;
  color: white;
  background-color: black;
}
#board {
  outline: red 1px solid;
  /* padding: 50px; */
}
#footer {
  text-align: center;
}
#controls {
  padding: 50px 50px 0px 50px;

  outline: yellow 1px solid;
}
#score {
  font-size: 30px;
  float: left;
}
#help {
  font-size: 30px;
  float: right;
}
#card {
  display: inline-block;
}
.leftcolumn {
  float: left;
}

.rightcolumn {
  float: none;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
