html {
  /* outline: rgb(22, 207, 9) 1px solid; */
  height: 99%;
}
body {
  display: flex;
  color: white;
  background-color: black;
  /* outline: rgb(255, 0, 0) 1px solid; */
  height: 100%;
  margin-top: 0px;
}
#board {
  margin-top: 1px;
  outline: red 1px solid;
}
#controls {
  margin-top: 0px;
  padding: 20px;
  padding-bottom: 14px;
  /* outline: rgb(228, 124, 5) 1px solid; */
}
#score {
  margin: 0px;
  padding: 0px;
  font-size: 28px;
  float: left;
  margin-right: 30px;
  /* outline: rgb(14, 223, 178) 1px solid; */
}
#help {
  margin-top: 0px;
  font-size: 28px;
  float: right;
  /* outline: rgb(8, 5, 181) 1px solid; */
}
#card {
  display: inline-block;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
  /* outline: rgb(15, 210, 236) 2px solid; */
}
.leftcolumn {
  margin: auto;
  text-align: center;
  /* outline: rgb(146, 8, 205) 1px solid; */
}

.rightcolumn {
  margin: auto;
  text-align: center;
  /* outline: rgb(100, 214, 12) 1px solid; */
}
#slidecontainer {
  padding: 0px;
  margin: 0px;
  /* outline: rgb(118, 7, 12) 1px solid; */
}
#speedvalue {
  margin: 0px;
  /* outline: rgb(248, 241, 246) 1px solid; */
}

.hamburger-menu {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999; /* Para que esté por encima del contenido */
  background-color: rgba(129, 11, 240, 0.534);
  border-radius: 0%;
  padding: 5px;
  box-shadow: 0 0 50px rgba(37, 37, 35, 0.971);
}

.icon {
  font-size: 30px;
  cursor: pointer;
  text-align: right;
}

.menu {
  font-size: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.menu li {
  cursor: pointer;
  padding: 2px;
  text-align: left;
  /* background-color: #000000; */
}

.menu li:hover {
  color: #1eff00;
}

/* Mostrar el menú cuando se hace clic en el icono */
.menu.active {
  display: block;
}

#model_exp{
  font-size: 25px;
  color: white;
  background-color: rgba(123, 7, 254, 0.534);
}

.exp_option{
  background-color: rgba(112, 0, 250, 0.308);
  color:#ffffff 
}


@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
  .rightcolumn {
    margin-left: 0px;
  }
  #card {
    margin-top: 0px;
  }
}
@media (orientation: portrait) {
  body {
    flex-direction: column;
  }
  .rightcolumn {
    margin-top: 0px;
  }
}
