body {
  text-align: center;
  color: white;
  background-color: black;
}
#board {
  outline: red 1px solid;
}
#controls {
  padding: 22px 22px 0px 22px;
}
#score {
  font-size: 30px;
  float: left;
}
#help {
  font-size: 30px;
  float: right;
}
#card {
  display: inline-block;
  padding-top: 10px;
}
.leftcolumn {
  float: left;
}

.rightcolumn {
  float: none;
}
#slidecontainer {
  padding-top: 25px;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
